<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<title>Please log in</title>
	<link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>

<body>
	<h1>Welcome, please log in.</h1>

	<div id="loginWrapper">
		<p class="accountItems">Username</p>
		<input type="text" name="username" id="uname">
		<p class="accountItems">Password</p>
		<input type="password" name="password" id="pword">
	</div>

	<div id="createWrapper">
		<p class="text" id="noAccount">Don't have an account?</p>
		<a href="/registration/register" id="create"> Create one!</a>
	</div>
	
</body>
</html>
