<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<title>Create an account</title>
	<link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>

<body>
	<h1>Please choose a username and password</h1>

	<div id="loginWrapper">
		<p class="accountItems">Username</p>
		<input type="text" name="username" id="unameRegister">

		<p class="accountItems" id="firstPword">Password</p>
		<input type="password" name="password" id="pwordRegister">

		<p class="accountItems" id="secondPword">Re-enter password</p>
		<input type="password" name="password" id="pwordVerify">
	</div>

	<button id="submit">Submit</button>
	
</body>
</html>
